<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>我的文章分类_{$Think.config.TITLE}</title>
    <link rel="stylesheet" type="text/css" href="{$Think.config.CSS}main.css" />
    <link rel="stylesheet" type="text/css" href="{$Think.config.CSS}admin.css" />
    <style type="text/css">
        .info_title{border-bottom: solid #999 1px;font-weight: bold;padding:5px 0;}
        .list_table{width:300px;margin:0 auto;}
        .info_table{height:auto;}
        .info_table #title,.info_table #title_edit{width:800px;font-size: 18px;}
    </style>
    <script src="{$Think.config.JS}jquery-1.8.3.min.js"></script>
    <script src="{$Think.config.JS}jquery.validate.min.js"></script>
    <script src="{$Think.config.JS}jquery.form.js"></script>
    <script src="{$Think.config.JS}messages_zh.js"></script>
    <script src="{$Think.config.JS}ajax.js"></script>
    <script src="{$Think.config.JS}admin/common.js"></script>
    <script src="{$Think.config.JS}admin/page.js"></script>
    <script src="{$Think.config.JS}home/personArticleType.js"></script>
</head>
<body>
<include file="./Application/Home/View/top.html" />
<div class="main" >
    <include file="./Application/Home/View/left.html" />
    <div class="right_div">
        <div class="info_title">
            <span>我的文章分类</span>
            <input type="hidden" value="{$Think.config.HOST_DIR}" id="host_dir" />
            <input type="hidden" value="{$Think.config.UPLOAD}" id="upload" />
            <input type="hidden" value="{$Think.config.UPLOAD_PATH}" id="upload_path" />
            <input type="hidden" value="{$Think.config.URL_HTML_SUFFIX}" id="suffix" />
        </div>
        <div class="main_form">
            <div id="list_div">
                <div class="toolbar">
                    <div class="lfloat">
                        <input type="button" value="添加" id="add" />
                        <input type="button" value="删除" id="del" />
                    </div>
                    <div class="rfloat">
                        <select id="keyItem">
                            <option value="id+eq">ID</option>
                            <option value="article_type_name+like">文章类别名称</option>
                        </select>
                        <input name="key" id="key" value="" placeholder="请输入关键字" required />
                        <input type="button" value="搜索" id="search" />
                    </div>
                </div>
                <div class="list_table_div mar_t20">
                    <table class="list_table" cellspacing="1" cellpadding="0">
                        <tr>
                            <th><input type="checkbox" name="" id="all_id" /></th>
                            <th width="50">ID</th>
                            <th width="200">文章类别名称</th>
                        </tr>
                        <tbody id="list_table_tbody">
                        <volist name="data.rows" id="rows" offset="0" length="10">
                            <tr class="tr_line">
                                <td width="50"><input type="checkbox" class="id" name="id[]" value="{$rows.article_type_id}" /></td>
                                <td width="50">{$rows.article_type_id}</td>
                                <td width="200"><a class="info" href="javascript:void(0);" title="{$rows.article_type_name}" value="{$rows.article_type_id}">{$rows.article_type_name|substr_mb=0,10,'utf-8'}</a></td>
                            </tr>
                        </volist>
                        </tbody>
                    </table>
                    <if condition="$data['rows'] eq null">
                        {$empty}
                    </if>
                </div>
                <if condition="$data.pageCount gt 0">
                    <div class="page_div" id="page_div">
                        <span class="page"><a href="javascript:void(0);">首页</a></span>
                        <span class="page"><a href="javascript:void(0);">上一页</a></span>
                        <label id="curpage">1</label> /
                        <label id="page_count">{$data.pageCount}</label>
                        <if condition="$data.pageCount eq 1">
                            <span class="page"><a href="javascript:void(0);">下一页</a></span>
                            <span class="page"><a href="javascript:void(0);">末页</a></span>
                            <else />
                            <span class="page hov"><a href="javascript:void(0);" rel="2">下一页</a></span>
                            <span class="page hov"><a href="javascript:void(0);" rel="{$data.pageCount}">末页</a></span>
                        </if>
                <span>
                    <select id="toPageSize">
                        <option value="10">10</option>
                        <option value="20">20</option>
                        <option value="30">30</option>
                        <option value="40">40</option>
                        <option value="50">50</option>
                    </select>
                </span>
                <span>
                    <input type="text" id="page_text" class="page_text" />
                    <input type="button" value="跳转" id="toPage" />
                </span>
                        <span>共{$data.count}条数据</span>
                    </div>
                </if>
            </div>
            <div class="add_div" id="add_div">
                <form id="add_form" name="add_form" method="post" enctype="multipart/form-data">
                    <table class="info_table" cellspacing="1" cellpadding="0">
                        <tr>
                            <th>文章分类名称：</th>
                            <td><input type="text" name='article_type[article_type_name]' id="article_type_name" required /></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td>
                                <input type="submit" value="保存" />&nbsp;&nbsp;
                                <input type="reset" value="重置" />&nbsp;&nbsp;
                                <input type="button" value="取消" id="close_div" />
                            </td>
                            <td></td>
                        </tr>
                    </table>
                </form>
            </div>

            <div id="edit_div" class="edit_div">
                <form id="edit_form" name="edit_form" method="post" enctype="multipart/form-data">
                    <input type="hidden" name="article_type[id]" id="id_edit" />
                    <table class="info_table" cellspacing="1" cellpadding="0">
                        <tr>
                            <th width="150px">文章分类名称：</th>
                            <td><input type="text" name='article_type[article_type_name]' id="article_type_name_edit" required /></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td>
                                <input type="submit" value="保存" />&nbsp;&nbsp;
                                <input type="reset" value="重置" />&nbsp;&nbsp;
                                <input type="button" value="取消" id="close_edit_div" />
                            </td>
                        </tr>
                    </table>
                </form>
            </div>

        </div>
    </div>
</div>
<include file="./Application/Home/View/footer.html" />

</body>
</html>