<html>
<head>
    <title>管理员管理_{$Think.config.TITLE}</title>
    <link rel="stylesheet" type="text/css" href="{$Think.config.CSS}main.css" />
    <link rel="stylesheet" type="text/css" href="{$Think.config.CSS}admin.css" />
    <link rel="stylesheet" type="text/css" href="{$Think.config.CSS}info.css" />
    <script language="JavaScript" src="{$Think.config.JS}jquery-1.8.3.min.js"></script>
    <script language="JavaScript" src="{$Think.config.JS}jquery.validate.min.js"></script>
    <script language="JavaScript" src="{$Think.config.JS}jquery.form.js"></script>
    <script language="JavaScript" src="{$Think.config.JS}messages_zh.js"></script>
    <script language="JavaScript" src="{$Think.config.JS}ajax.js"></script>
    <script language="JavaScript" src="{$Think.config.JS}admin/common.js"></script>
    <script language="JavaScript" src="{$Think.config.JS}admin/page.js"></script>
    <script language="JavaScript" src="{$Think.config.JS}admin/admin.js"></script>
    <script type="text/javaScript">
    </script>
    <style type="text/css">
        .page_div{display: block;}
        .list_table{width:600px;margin:0 auto;}
        .info_table{height:200px;}
    </style>
</head>
<body>
<include file="./Application/Admin/View/header.html" />
<div class="main" >
    <include file="./Application/Admin/View/left.html" />
    <div class="right_div">
        <div class="info_title">
            <span>管理员管理</span>
            <input type="hidden" value="{$Think.config.HOST_DIR}" id="host_dir" />
            <input type="hidden" value="{$Think.config.UPLOAD}" id="upload" />
            <input type="hidden" value="{$Think.config.UPLOAD_PATH}" id="upload_path" />
            <input type="hidden" value="{$Think.config.URL_HTML_SUFFIX}" id="suffix" />
        </div>
        <div class="main_form">
            <div id="list_div">
                <div class="toolbar">
                    <div class="lfloat">
                        <input type="button" value="添加" id="add" />
                        <input type="button" value="删除" id="del" />
                        <input type="button" value="冻结" id="freeze" />
                        <input type="button" value="激活" id="not_freeze" />
                        <input type="button" value="重置密码" id="resetPasswd" />
                    </div>
                    <div class="rfloat">
                        <select id="keyItem">
                            <option value="id+eq">ID</option>
                            <option value="admin_name+like">管理员名称</option>
                        </select>
                        <input name="key" id="key" value="" placeholder="请输入关键字" required />
                        <input type="button" value="搜索" id="search" />
                    </div>
                </div>
                <div class="list_table_div mar_t20">
                    <table class="list_table" cellspacing="1" cellpadding="0">
                        <tr>
                            <th><input type="checkbox" name="" id="all_id" /></th>
                            <th width="50" class="order" rel="id" value="0">ID</th>
                            <th width="150" class="order" rel="member_name" value="0">管理员名称</th>
                            <th width="150" class="order" rel="last_ip" value="0">上次登录IP</th>
                            <th width="150" class="order" rel="last_time" value="0">上次登录时间</th>
                            <th width="100" class="order" rel="is_freeze" value="0">是否冻结</th>
                        </tr>
                        <tbody id="list_table_tbody">
                        <volist name="data.rows" id="rows" offset="0" length="10">
                            <tr class="tr_line">
                                <td><input type="checkbox" class="id" name="id[]" value="{$rows.id}" /></td>
                                <td width="50">{$rows.id}</td>
                                <td width="150"><a class="info" href="javascript:void(0);" value="{$rows.id}">{$rows.admin_name}</a></td>
                                <td width="150">{$rows.last_ip}</td>
                                <td width="150">{$rows.last_time}</td>
                                <if condition="$rows.is_freeze eq 1">
                                    <td width="100">已冻结</td>
                                    <else />
                                    <td width="100">已激活</td>
                                </if>
                            </tr>
                        </volist>
                        </tbody>
                    </table>
                    <if condition="$data['rows'] eq null">
                        {$empty}
                    </if>
                </div>
                <if condition="$data.count gt 0">
                    <div class="page_div" id="page_div">
                        <span class="page"><a href="javascript:void(0);">首页</a></span>
                        <span class="page"><a href="javascript:void(0);">上一页</a></span>
                        <label id="curpage">1</label> /
                        <label id="page_count">{$data.pageCount}</label>
                        <if condition="$data.pageCount eq 1">
                            <span class="page"><a href="javascript:void(0);">下一页</a></span>
                            <span class="page"><a href="javascript:void(0);">末页</a></span>
                            <else />
                            <span class="page hov"><a href="javascript:void(0);" rel="2">下一页</a></span>
                            <span class="page hov"><a href="javascript:void(0);" rel="{$data.pageCount}">末页</a></span>
                        </if>
                <span>
                    <select id="toPageSize">
                        <option value="10">10</option>
                        <option value="20">20</option>
                        <option value="30">30</option>
                        <option value="40">40</option>
                        <option value="50">50</option>
                    </select>
                </span>
                <span>
                    <input type="text" id="page_text" class="page_text" />
                    <input type="button" value="跳转" id="toPage" />
                </span>
                        <span>共{$data.count}条数据</span>
                    </div>
                </if>
            </div>
            <div class="add_div" id="add_div">
                <form id="add_form" name="add_form" method="post">
                    <table class="info_table" cellspacing="1" cellpadding="0">
                        <tr>
                            <th width="50">管理员名称：</th>
                            <td width="300"><input type="text" name='admin_name' id="admin_name" required /></td>
                            <td></td>
                        </tr>
                        <tr>
                            <th>登录密码：</th>
                            <td><input type="password" name='passwd' id="password" required /></td>
                            <td></td>
                        </tr>
                        <tr>
                            <th>确认密码：</th>
                            <td><input type="password" name='passwd2' id="password2" required /></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td>
                                <input type="submit" value="保存" />&nbsp;&nbsp;
                                <input type="reset" value="重置" />&nbsp;&nbsp;
                                <input type="button" value="取消" id="close_div" />
                            </td>
                            <td></td>
                        </tr>
                    </table>
                </form>
            </div>

            <div id="edit_div" class="edit_div">
                <form id="edit_form" name="edit_form" method="post" enctype="multipart/form-data">
                    <input type="hidden" name="member[id]" id="id_edit" />
                    <table class="info_table" cellspacing="1" cellpadding="0">
                        <tr>
                            <th width="50">用户名：</th>
                            <td width="200"><input type="text" name='member[member_name]' id="member_name_edit" required /></td>
                            <td rowspan="4" width="200"><img src="" width="150px" height="150px" id="head_pic_edit_img" /></td>
                        </tr>
                        <tr>
                            <th>性别：</th>
                            <td>
                                <select name='member[sex]' id="sex_edit">
                                    <option value="1" selected="selected">男</option>
                                    <option value="0">女</option>
                                </select>
                            </td>
                            <td></td>
                        </tr>
                        <tr>
                            <th>邮箱：</th>
                            <td><input type="email" name="member[email]" id="email_edit" required /></td>
                            <td></td>
                        </tr>
                        <tr>
                            <th>电话：</th>
                            <td><input type="tel" name="member[tel]" id="tel_edit" required pattern="(\d{3,4}-\d{7,8})|(\d{11})" /></td>
                            <td></td>
                        </tr>
                        <tr>
                            <th>地址：</th>
                            <td><input type="text" name="member[address]" id="address_edit" required minlength="10" /></td>
                            <td></td>
                        </tr>
                        <tr>
                            <th>密码问题：</th>
                            <td><input type="text" name="member[question]" id="question_edit" required minlength="10" /></td>
                            <td></td>
                        </tr>
                        <tr>
                            <th>密码答案：</th>
                            <td><input type="text" name="member[answer]" id="answer_edit" required minlength="10" /></td>
                            <td></td>
                        </tr>
                        <tr>
                            <th>头像：</th>
                            <td>
                                <input type="file" name="head_pic" />
                                <input type="hidden" id="head_pic_edit" />
                            </td>
                            <td></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td>
                                <input type="submit" value="保存" />&nbsp;&nbsp;
                                <input type="reset" value="重置" />&nbsp;&nbsp;
                                <input type="button" value="取消" id="close_edit_div" />
                            </td>
                            <td></td>
                        </tr>
                    </table>
                </form>
            </div>
        </div>
    </div>
</div>
<include file="./Application/Admin/View/footer.html" />
</body>
</html>