<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>文章分类_{$Think.config.TITLE}</title>
    <link rel="stylesheet" type="text/css" href="{$Think.config.CSS}main.css" />
    <link rel="stylesheet" type="text/css" href="{$Think.config.CSS}page.css" />
    <link rel="stylesheet" type="text/css" href="{$Think.config.CSS}articleType.css" />
</head>
<body>
<include file="./Application/Home/View/top.html" />
<div class="article_type_div">
    <div class="article_type_title">
        <span>用户名</span>
    </div>
    <div class="article_type_list">
        <div class="article_type_d">
            <a href="#">生活日志(10)</a>
        </div>
        <div class="article_type_d">
            <a href="#">生活日志(10)</a>
        </div>
        <div class="article_type_d">
            <a href="#">生活日志(10)</a>
        </div>
        <div class="article_type_d">
            <a href="#">生活日志(10)</a>
        </div>
        <div class="article_type_d">
            <a href="#">生活日志(10)</a>
        </div>
        <div class="article_type_d">
            <a href="#">生活日志(10)</a>
        </div>
        <div class="article_type_d">
            <a href="#">生活日志(10)</a>
        </div>
        <div class="article_type_d">
            <a href="#">生活日志(10)</a>
        </div>
        <div class="article_type_d">
            <a href="#">生活日志(10)</a>
        </div>
        <div class="article_type_d">
            <a href="#">生活日志(10)</a>
        </div>
        <div class="article_type_d">
            <a href="#">生活日志(10)</a>
        </div>
        <div class="article_type_d">
            <a href="#">生活日志(10)</a>
        </div>
        <div class="article_type_d">
            <a href="#">生活日志(10)</a>
        </div>
        <div class="article_type_d">
            <a href="#">生活日志(10)</a>
        </div>
        <div class="article_type_d">
            <a href="#">生活日志(10)</a>
        </div>
        <div class="article_type_d">
            <a href="#">生活日志(10)</a>
        </div>
        <div class="clear"></div>
    </div>
</div>
<include file="./Application/Home/View/footer.html" />
</body>
</html>