<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>后台管理登录_{$Think.config.TITLE}</title>
    <link rel="stylesheet" type="text/css" href="{$Think.config.CSS}main.css"/>
    <link rel="stylesheet" type="text/css" href="{$Think.config.CSS}login.css"/>
    <script type="text/javascript" src="{$Think.config.JS}jquery-1.8.3.min.js"></script>
    <script type="text/javascript">
        function getVerify() {
            $('.vImg').attr('src',"{:U('Admin/getVerify')}");
        }
        $('#pre_url').val(document.referrer);
    </script>
</head>
<body>
<div id="login">
    <input type="hidden" value="{$Think.config.HOST_DIR}" id="host_dir" />
    <input type="hidden" value="{$Think.config.UPLOAD}" id="upload" />
    <input type="hidden" value="{$Think.config.UPLOAD_PATH}" id="upload_path" />
    <input type="hidden" value="{$Think.config.URL_HTML_SUFFIX}" id="suffix" />
    <h1>Login For Admin</h1>
    <form id="login_form" name="login_form" method="post" action="{:U('Admin/login')}">
        <input type="hidden" value="" id="pre_url" />
        <input type="text" required="required" placeholder="用户名" name="admin_name"></input>
        <input type="password" required="required" placeholder="密码" name="passwd"></input>
        <input type="text" required="required" placeholder="验证码" name="vCode" class="vcodeInput"></input>
        <img src="{:U('Admin/getVerify')}" class="vImg" onclick="getVerify()" title="点击更换验证码" />
        <button class="but" type="submit">登录</button>
        <label><input type="checkbox" name="rememberPass" style="width:15px;height:15px;float:left;" />记住密码</label>
        <if condition="$msg neq ''">
            <div style="color:#f30;text-align:center;">{$msg}</div>
        </if>
    </form>
</div>
</body>
</html>